<div class="director">
  <center>
    <em>Directed by:</em>
  </center>
  <h3>
    <%= director.first_name %>
    <%= director.last_name %>
  </h3>

  <p>
    <strong>Country:</strong>
    <%= director.country %>
  </p>
</div>
